$based-font-family: 'Montserrat', sans-serif;
$based-text-color: #8B8B8B;
$based-font-size: 12px;
$based-font-weight: 500;
$title-font-weight: bold;
$black-text: #000;
$regular-font-weight: 400;
$red-color: #cd0000;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__block {
    width: 195px;

    &-title {
      font-size: 14px;
      color: $black-text;
      font-weight: $regular-font-weight;
    }
  }
  

  &__info {
    text-align: right;

    &-number {
      color: $red-color;
      font-weight: $title-font-weight;
      font-size: 22px;
      display: block;
      letter-spacing: 2px;
    }

    &-text {
      font-size: 16px;
      color: $black-text;
      font-weight: $regular-font-weight;
    }
  }
}